
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Asap:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Cormorant+Garamond:wght@336&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Estonia&family=Faculty+Glyphic&family=Gothic+A1&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}

.hero {
    display: flex;
    height: 95vh;
    background-color:#eff0f1;

}

.hero .hero-left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 70px;
    
}

.hero-left h1 {
    font-size: 70px;
    color: #333;
    text-align: center;
    line-height: 70px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 400px;
    padding:30px 70px 40px 70px;
}

.hero-left ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    justify-content: space-between;
}

.hero-left ul a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    text-decoration: uppercase;
}

.hero-left ul a:hover {
    color: #ff4c60;
    transition: 0.3s;
    border-bottom: 2px solid #ff4c60;
    padding-bottom: 5px;
    }

.hero-left p {
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    font-family: "DM Sans", sans-serif;
}

.hero-right {
    height: 100%;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-position: center;
    min-width: 50%;
    display: flex;
}

.hero .hero-right img {
    min-height: fit-content;
}






/* section2 */
.section2 {
    display: flex;
    max-height: 100vh;
    background-color: white;
    padding: 50px;
    flex-direction: column;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
}


.section2 .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
} 

.section2 h1 {
    font-size: 40px;
    line-height: 60px;
    font-family: "DM Sans", sans-serif;
    color: black;
    font-weight: 300px;
    letter-spacing: 2px;
}


.section2 .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    word-spacing: 5px;
}

.section2 .text h2 {
    font-size: 40px;
    color: #333;
    text-align: center;
    line-height: 50px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 400px;
}

.section2 .video video {
    height: 300px;
    width: 350px;
}





/* section3 */
.section3 {
    display: flex;
    max-height: 100vh;
    background-color: #ffffff;
    padding: 50px;
    justify-content: space-between;
    gap: 30px;
}

.section3 .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    max-width: 275px;
}

.section3 .col h2 {
    font-size: 50px;
    color: #333;
    line-height: 50px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 400px;
}

.section3 .colo {
    background-image: url(../images/img3.jpg);
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}





.section4 {
    display: flex;
    min-height: 100vh;
    background-color: white;
    padding: 50px;
    flex-direction: column;
    padding-top: 30px;
}

.section4 h1 {
    font-size: 40px;
    line-height: 60px;
    font-family: "DM Sans", sans-serif;
    color: black;
    font-weight: 300px;
    letter-spacing: 2px;
    padding: 20px 0px 20px 30px;
}   


.section4 .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    word-spacing: 5px;
    margin-right: 40px;
}

.section4 .left h1 {
        font-size: 40px;
        color: #333;
        line-height: 50px;
        font-family: "Libertinus Serif Display", system-ui;
        color: black;
        font-weight: 400px;
}

.section4 .left .video video {
    height: 300px;
    width: 300px;
}

.section4 .right {
    display: flex;
    gap: 30px;
    word-spacing: 5px;
    flex-direction: column;
}

.section4 .right .video {
    display: flex;
    gap: 30px;
    word-spacing: 5px;
}

.section4 .right .video video {
    height: 300px;
    width: 200px;
}

.section4 .right .img {
    display: flex;
    gap: 30px;
    word-spacing: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.section4 .right .img img {
    height: 130px;
    width: 300px;
}

.section4 .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.section4 .right .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    word-spacing: 5px;
    max-width: 500px;
}





.section5 {
    display: flex;
    min-height: 100vh;
    background-color: #eff0f1;
    padding: 50px;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.section5 .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    word-spacing: 5px;
    margin-right: 40px;
}

.section5 .left h1 {
        font-size: 40px;
        color: #333;
        line-height: 50px;
        font-family: "Libertinus Serif Display", system-ui;
        color: black;
        font-weight: 400px;
}

.section5 .right img {
    height: 350px;
    width: 400px;
}







.section6 {
    display: flex;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
    gap: 50px;
    justify-content: center;
}

/* .section6 .left {
    padding: 20px;
} */

.section6 .left img {
    max-width: 500px;
}

.section6 .left h1 {
    font-size: 50px;
    color: #333;
    line-height: 70px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 400px;
    padding:40px 0px;
}


.section6 .right video {
    height: 200px;
    width: 400px;
    margin: 40px 0px;
}

.section6 .right p {
    max-width: 350px;
    text-align: justify;
    line-height: 25px;
}





.section7 {
    display: flex;
    align-items: center;
    max-height: 100vh;
    gap: 50px;
    justify-content: center;
}

.section7 .left {
    padding: 50px 50px;
    max-width: 50%;
}

.section7 .left p {
    text-align: justify;
}

.section7 .left img {
    max-width: 300px;
    padding-top: 30px;
}

.section7 .left h1 {
    font-size: 50px;
    color: #333;
    line-height: 60px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 400px;
    padding:30px 0px;
}

.section7 .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    background-color: #eff0f1;
    padding: 50px 20px;
    width: 50%;
    padding-left: 50px;
}


.section7 .right img {
    max-width: 150px;
}







.section8 {
    display: flex;
    align-items: center;
    padding: 50px;
    height: 80vh;
    gap: 50px;
    justify-content: center;
}

.section8 .left {
    max-width: 50%;
}

.section8 .left h1 {
    font-size: 30px;
    color: #333;
    line-height: 40px;
    font-family: "Libertinus Serif Display", system-ui;
    color: black;
    font-weight: 700px;
}


.section8 .left video {
    height: 300px;
    width: 400px;
    margin: 40px 0px;
}